# Игнорировать все папки, начинающиеся с точки (например, .venv, .idea, .vscode)
.*/
# Игнорировать все файлы с расширением .pt (модели PyTorch)
*.pt
*.pt.tmp
weights/
__pycache__/
*.py[cod]
.DS_Store
